
{% load static%}
<link rel="stylesheet" href="{% static 'css/star.css' %}">

<div class="startRadio">
  <label class="startRadio__box">
    <input type="radio" name="star" value="0.5" required>
    <span class="startRadio__img"><span class="blind">별 0.5개</span></span>
  </label>
  <label class="startRadio__box">
    <input type="radio" name="star" value="1">
    <span class="startRadio__img"><span class="blind">별 1개</span></span>
  </label>
  <label class="startRadio__box">
    <input type="radio" name="star" value="1.5">
    <span class="startRadio__img"><span class="blind">별 1.5개</span></span>
  </label>
  <label class="startRadio__box">
    <input type="radio" name="star" value="2">
    <span class="startRadio__img"><span class="blind">별 2개</span></span>
  </label>
  <label class="startRadio__box">
    <input type="radio" name="star" value="2.5">
    <span class="startRadio__img"><span class="blind">별 2.5개</span></span>
  </label>
  <label class="startRadio__box">
    <input type="radio" name="star" value="3">
    <span class="startRadio__img"><span class="blind">별 3개</span></span>
  </label>
  <label class="startRadio__box">
    <input type="radio" name="star" value="3.5">
    <span class="startRadio__img"><span class="blind">별 3.5개</span></span>
  </label>
  <label class="startRadio__box">
    <input type="radio" name="star" value="4">
    <span class="startRadio__img"><span class="blind">별 4개</span></span>
  </label>
  <label class="startRadio__box">
    <input type="radio" name="star" value="4.5">
    <span class="startRadio__img"><span class="blind">별 4.5개</span></span>
  </label>
  <label class="startRadio__box">
    <input type="radio" name="star" value="5">
    <span class="startRadio__img"><span class="blind">별 5개</span></span>
  </label>
</div>

