{% extends 'base/base.html'%}
{% block title %}{{object.title}}{% endblock title %}

{% block stylesheets %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock stylesheets %}

{% block content %}
<br/><br/><br/>
    {% if user.is_authenticated %}
        {% include 'register/mypage.html' %}
        <a href="{% url 'register:logout' %}">로그아웃</a>
<body class="text-center">
    {% else %}
        <main class="form-signin">
            <form method="POST">
                {% csrf_token %}
                <h1 class="h3 mb-3 fw-normal">로그인</h1>
                <div class="form-floating">
                    {{form.as_p}}
                </div>

                <div class="checkbox mb-3">
                  <label>
                    <input type="checkbox" value="remember-me"> Remember me
                  </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">로그인</button>
            </form>
        </main>
    {% endif %}
</body>

{% endblock content %}

